:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --main-color: #e74c3c;
  --border-radius: 8px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif, var(--system-ui);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

button {
  font-size: 100%;
  font-family: inherit;
}

button svg {
  pointer-events: none;
}

.text-center {
  text-align: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-header {
  padding: 10px;
  background-color: var(--main-color);
  text-align: center;
}

.main-header h1 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.main-header h1 svg {
  width: 38px;
  height: 38px;
  fill: #fff;
}

.modal {
  width: 100%;
  max-width: 300px;
  border: 2px solid var(--main-color);
  border-radius: var(--border-radius);
  margin: 15% auto auto auto;
}

.modal-header {
  padding: 10px;
  background-color: var(--main-color);
  position: relative;
}

.modal-header h3 {
  text-align: center;
  color: #fff;
}

.close-dialog-btn {
  width: 30px;
  aspect-ratio: 1 / 1;
  font-size: 1.4rem;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.close-dialog-btn:hover {
  color: #e6e6e6;
}

.form {
  padding: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.form-group:not(:last-child) {
  margin-bottom: 10px;
}

.form-label {
  font-weight: 500;
}

.form-control {
  padding: 6px;
}

.form-submit-btn:hover,
.show-modal-btn:hover {
  background-color: #d04436;
}

.form-submit-btn {
  font-weight: 700;
  color: #fff;
  padding: 6px;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
}

.main {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 30%;
}

.todos-section {
  padding: 8px;
}

.todos-section .h2,
.projects-section .h2 {
  text-align: center;
}

.projects-section {
  padding: 8px;
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  position: relative;
}

.project-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
}

.project-list-item {
  padding: 0 15%;
}

.project-btn {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.project-btn:hover,
.project-btn.active {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.project-btn.active {
  font-weight: 500;
}

.show-modal-btn {
  padding: 8px;
  background-color: var(--main-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.show-modal-btn:hover {
  background-color: #d04436;
  transform: translateY(-1px);
}

.show-modal-btn svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

@media screen and (min-width: 1024px) {
  .main {
    grid-template-rows: 1fr;
    grid-template-columns: 30% 1fr;
  }

  .todos-section {
    grid-column: 2 / 3;
  }

  .projects-section {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  .show-modal-btn {
    bottom: 25px;
    right: 25px;
  }
}
